.bg-purp{ 
    background-color: #8E43E8;
}

.bg-blue{ 
    background-color: #42ddfd;
}

.navbar .brand, .navbar .nav > li > a {
    color: #fff;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
    font-size: 18px;

}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #35DDFF;
}



