.full {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 80px; /* height of your footer */
    margin-top: 30px;
   }

.purple{ 
    min-height: 100vh; /* will cover the 100% of viewport */
    background-color: #8E43E8; 
}
   @media only screen and (max-width: 600px) {
    .container { 
        padding: 0 25px; 
    }
}